$headers: 'Faster One', sans-serif;
$font-stack: 'Hiragino Sans';
$yellow: #FEE251;
$primary-font-color: white;

body {
  font: 100% $font-stack;
  color: $primary-font-color;
  background-color: white;
  margin: 0;
}

a {
  text-decoration: none;
}


.main {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0;
  background-color: #272729;
}

header {
  position: relative;
  .slogan {
    letter-spacing: 2px;
    font-weight: lighter;
    // background-color: rgba(39, 39, 41, 0.7);
    text-align: left;
    width: 257px;
    position: absolute;
    top: 250px;
    left: 45%;
    padding: 20px;
  }
}

.fas {
  color: white;
}

.nav {
  width: 20%;
  min-width: 280px;
  height: 100%;
  max-height: 1500px;
  background-color: rgba(39, 39, 41, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  .logo-tag {
    text-align: center;
    font-family: $headers;
    width: 25%;
    min-width: 320px;
    height: 70px;
    background-color: #FEE251;
    p {
      margin-top: 10px;
      font-size: 40px;
      color: black;
    }
  }
  ul {
    margin-top: 60px;
    list-style: none;

    li {
      padding-bottom: 30px;
      font-size: 20px;
      font-family: 'Hiragino Sans';
      font-weight: lighter;
      a:hover, a:active {
        color: white;
      }
      .active {
        color: white;
      }
      a {
        color: lighten(grey, 20);
      }
    }
  }
}

.shopNowButton {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 14px;
  background-color: $yellow;
  width: 100px;
  height: 40px;
  border-radius: 2px;
  border: none;
}

.shopNowButton:hover {
  background-color: lighten($yellow, 15);
  transform: scale(1.05);
}


.heroImage{
  position: relative;
  .headerDivider {
    display: flex;
    align-items: center;
    width: 70vw;
    position: absolute;
    right: 20px;
    bottom: 200px;
    .icons {
      margin-right: 15px;
    }
    i {
      padding-right: 4px;
    }
    hr:first-of-type {
      width: 30vw;
    }
    hr:nth-of-type(2){
      width: 10vw;
    }
  }
}

.right-bar-1-items{
  img {
    height: 150px;
  }
}

.social-image {
  height: 150px;
}
